<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="nom">Nom :</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="login">Login :</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="ville">Ville :</label><br>
        <input type="text" id="ville" name="ville"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
